body 
{
	background-image: url(Images/login_Ministerio.jpg);
	background-repeat: no-repeat;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
		
	text-align:center;
	margin:0 auto;

	padding: 0;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	color: #B3C1FF;
	font-size: 12px;
}


